<% if @user.avatar.attached? %>
    <%= image_tag(@user.avatar, style: "height: 50px;") %>
<% end %>
<%= turbo_frame_tag 'author' do %>
    <h2><%= @user.name %></h2>
    <h2><%= @user.email %></h2>
    <% a =[] %>
    <% current_user.given_follows.each do |f|  %>
        <% a << f.followed_user_id %></li>
    <% end %>
    <% if !a.include?(@user.id) && @user != current_user%>
        <ul>
        <%= render "follows/form", user: @user %>
        </ul>
    <% end %>
<% end %>