<h1> Posts </h1>

<div>
    <% @posts.each do |p|%>
    <div><%= p.body %></div>
    <div><%= link_to 'See post', post_path(p.id)%>

    <div><%= p.author.name %></div>
    <div><%= link_to 'See user', user_path(p.author.id)%>
    <% end %>
</div>

<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>