<div class='index'>
  <div class='new_post'>
    <%= turbo_frame_tag id="new_post", src:new_post_path %>
  </div>

  <div id="posts" class='posts'>
    <%= render @posts %>
  </div><br>

  <div class='follows'>
    <h3> Users you follow: </h3>
    <% current_user.given_follows.each do |f|  %>
        <ul>
        <li><%= f.followed_user.name %></li>
        </ul>
    <% end %>
  </div>

  <div class='links'>
    <%= link_to 'My profile', user_path(current_user.id) %>
    <%= link_to 'See users', users_path %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
    <%= link_to 'Edit account', edit_user_registration_path %>
  </div>
</div>
