<h2> Post </h2>
<%= @post.body %>
<h2> Author </h2>
<%= @post.author.name %>
<div><%= link_to 'See user', user_path(@post.author.id)%></div>
<h2> Comments </h2>
<div><%= render @post.comments%></div>
<h2> Users who liked this post: </h2>
<div><%= render @post.likes%></div>
<%= render "likes/form" %>
<%= render "comments/form" %>

<%= turbo_frame_tag @post do %>
    <div><%= link_to 'Edit post', edit_user_post_path(@post.author.id,@post.id) %>
<% end %>

<div><%= link_to 'Home',root_path %></div>